.product-card {
  border: 1px solid transparent;
  border-radius: var(--radius);
  padding: 1rem;
  margin: 10px;
  text-align: center;
  background-color: var(--card-bg);
  box-shadow: 0 2px 10px var(--card-shadow);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px var(--card-shadow);
}

.product-card h3 {
  font-size: 1.1rem;
  margin: 0;
  color: var(--text-color);
}

.product-card p {
  margin: 0.5rem 0;
  color: #aaa;
}

.details-link,
.buy-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: var(--radius);
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.details-link {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.details-link:hover {
  background-color: #dddddd;
  color: var(--bg-color);
}

.buy-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #179846;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 200px;
}
