body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-wrapper {
  text-align: center;
  margin: 0 auto;
}

h2 {
  margin-top: 40px;
  font-weight: 600;
  color: var(--text-color);
}
